@{
    ViewData["Title"] = "Goals";
}


<div class="main">
    <div class="container">
        <a class="button button-action">Add goal</a>
        <a class="button button-action">Edit</a>
    </div>
</div>
