@{
    ViewData["Title"] = "Overview";
}

<div class="main">
    <div class="container">
        <a class="button button-action" id="button-add" href="#add">+</a>
        <a class="button" id="current-month">November 2016</a>
        <select class="select-account">
            <option value="transaction-account">Transaction account</option>
            <option value="cash">Cash</option>
        </select>
        <div id="add" class="overlay">
            <div id="add-expense-income-form" class="form">
                <ul>
                    <li>
                        <input type="radio" name="addnew" value="expense" id="radio-expense" checked>
                        <label for="radio-expense">Add expense</label>
                    </li>
                    <li>
                        <input type="radio" name="addnew" value="income" id="radio-income">
                        <label for="radio-income">Add income</label>
                    </li>
                </ul>
                <input type="number" name="quantity" placeholder="0.0 (€)">
                <input type="text" name="category" placeholder="category">
                <input type="date" name="date">
                <div id="icon-container">
                    <div class="icon-cancel"></div>
                    <div class="icon-confirm"></div>
                </div>
            </div>
        </div>
        <canvas id="canvas-line-chart" class="overview"></canvas>
    </div>
</div>

@section Scripts {
<!-- Scripts -->
    <script type="text/javascript" src="assets/js/line-chart.js"></script>
}