@model Penny_Wise.Models.UserAccount

@{
    ViewData["Title"] = "Add new";
}

<div class="main">
    <div class="container">
        <form asp-action="AddNew">
            <div class="add-form">
                <h4>Add new account:</h4>
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="data">
                    <label asp-for="Type">Name:</label>
                        <input asp-for="Type"/>
                    <label asp-for="Balance">Balance (EUR):</label>
                        <input asp-for="Balance"/>
                </div>
                <button type="submit" id="add-account" class="text-action button button-action">Add</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
