@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Penny-Wise</title>
    <link rel="icon" href="~/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/css/main.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine" type="text/css">
</head>
<body>
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Main -->
        <div class="main-index">
            <div class="main-wallpaper">
            </div>
        </div>


        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Menu -->
            <nav class="sidebar-nav">
                <div class="sidebar-brand">
                        <div class="logo"></div>
                        <div class="logo-text-index">Penny<br>Wise</div>
                </div>
                <div id="login-form">
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="~/Overview" method="post">
                        <div class="container">
                            <div id="login-validation" asp-validation-summary="All" class="text-danger"></div>
                            <label asp-for="Email">E-mail: </label>
                            <input asp-for="Email" class="form-control" placeholder="owl@penny-wise.com" value="jack@longtoes.com" />
                            <label asp-for="Password">Password: </label>
                            <input asp-for="Password" class="form-control" placeholder="********" value="$Demo123"/>
                            <button type="submit">Log in</button>
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                            <p>Forgot your password? Click <a asp-area="" asp-controller="Account" asp-action="ForgotPassword">here</a>!</p>
                            <p>Sign up <a asp-area="" asp-controller="Account" asp-action="Register">here</a>!</p>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</body>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
