@{
    ViewData["Title"] = "Incomes";
}


<div class="main">
    <div class="container">
        <a class="button" id="current-month">November 2016</a>
        <select id="select-account">
            <option value="transaction-account">Transaction account</option>
            <option value="cash">Cash</option>
        </select>
        <canvas id="canvas-bar-graph" class="expenses"></canvas>
    </div>
</div>

@section Scripts {
    <!-- Scripts -->
    <script type="text/javascript" src="assets/js/bar-graph.js"></script>
}