@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@{
    Layout = null;
    ViewData["Title"] = "Overview";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Penny-Wise</title>
    <link rel="icon" href="~/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/css/main.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine" type="text/css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Menu -->
            <nav class="sidebar-nav">
                <div class="sidebar-brand">
                    <a href="overview.html">
                        <div class="logo"></div>
                        <div class="logo-text">Penny<br>Wise</div>
                    </a>
                </div>
                <ul>
                    <menulink class="overview" controller-name="Overview" action-name="Index" menu-text="Overview"></menulink>
                    <menulink class="expenses" controller-name="Expenses" action-name="Index" menu-text="Expenses"></menulink>
                    <menulink class="incomes" controller-name="Incomes" action-name="Index" menu-text="Incomes"></menulink>
                    <menulink class="accounts" controller-name="Accounts" action-name="Index" menu-text="Accounts"></menulink>
                    <menulink class="goals" controller-name="Goals" action-name="Index" menu-text="Goals"></menulink>
                    <menulink class="reports" controller-name="Reports" action-name="Index" menu-text="Reports"></menulink>
                    <menulink class="profile" controller-name="Profile" action-name="Index" menu-text="Profile"></menulink>
                    <li class="logout"><a href="~/Account/LogOff">Log out</a></li>
                </ul>
            </nav>
        </div>

        <!-- Main -->
       @RenderBody()
    </div>

    <!-- Scripts -->
    @RenderSection("Scripts", required: false)
</body>