@model Penny_Wise.Controllers.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}


<div class="main">
    <div class="container">
        <div class="container-video">
            <video autoplay id="video" width="320" height="240"></video>
            <canvas id="canvas-video" width="320" height="240"></canvas>
        </div>
        <button id="snap" class="button button-action button-photo-capture">Snap!</button>
        <button id="take-new-photo" class="button button-action button-photo-capture">Take a new photo</button>
        <form asp-controller="Profile" asp-action="Index" method="post">
            <div class="container-account-info">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="data">
                    <input asp-for="Name" contenteditable="true" class="form-control" type="text" />
                    <input asp-for="Email" readonly="readonly"/>
                    <input asp-for="Password" contenteditable="true" class="form-control" placeholder="********" />    
                </div>
                <button type="submit" class="text-action button button-action" id="save">Save</button><br/>
                <a class="button button-action" id="button-delete-account" onclick="confirmAndDelete()">Delete my Penny-Wise account. :(</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <!-- Scripts -->
    <script type="text/javascript" src="~/js/photo-capture.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
}